### üîç DATA DETECTIVE CHALLENGE: Patient Records Investigation

 Your mission: Clean and analyze this messy patient records dataset!

 SCORING SYSTEM:
 - Each bug found and fixed: 5 points
 - Bonus: Creative solution: +3 points
 - Speed bonus: First to finish correctly: +10 points

 Total possible bugs: 15+ categories
 Maximum score: 100+ points

In [19]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [44]:
# ================================================================
# STEP 1: LOAD THE DATA
# ================================================================

# TODO: Load the messy_patient_records.csv file
df = pd.read_csv('messy_patient_records.csv')

print("Dataset loaded successfully!")
print(f"Shape: {df.shape}")
print("\n" + "="*70)

Dataset loaded successfully!
Shape: (100, 15)

======================================================================

In [45]:
# ================================================================
# STEP 2: INITIAL EXPLORATION
# ================================================================
# Get a feel for the data before you start cleaning

print("\nüîé INITIAL DATA INSPECTION")
print("="*70)

# Display data types
print("\nüìä Data Types:")
print(df.dtypes)

# Display basic info
print("\nüìã Dataset Info:")
print(df.info())

# Check for missing values
print("\n‚ùì Missing Values Count:")
print(df.isnull().sum())

print("\n" + "="*70)

üîé INITIAL DATA INSPECTION
======================================================================

üìä Data Types:
Patient_ID            float64
First_Name             object
Last_Name              object
Date_of_Birth          object
Age                   float64
Gender                 object
Blood_Type             object
Admission_Date         object
Discharge_Date         object
Diagnosis              object
Temperature            object
Blood_Pressure         object
Heart_Rate            float64
Insurance_Provider     object
Bill_Amount            object
dtype: object

üìã Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Patient_ID          98 non-null     float64
 1   First_Name          98 non-null     object
 2   Last_Name           98 non-null     object
 3   Date_of_Birth       82 non-null     object
 4   Age                 95 non-null     float64
 5   Gender              97 non-null     object
 6   Blood_Type          98 non-null     object
 7   Admission_Date      90 non-null     object
 8   Discharge_Date      81 non-null     object
 9   Diagnosis           100 non-null    object
 10  Temperature         96 non-null     object
 11  Blood_Pressure      97 non-null     object
 12  Heart_Rate          98 non-null     float64
 13  Insurance_Provider  88 non-null     object
 14  Bill_Amount         97 non-null     object
dtypes: float64(3), object(12)
memory usage: 11.8+ KB
None

‚ùì Missing Values Count:
Patient_ID             2
First_Name             2
Last_Name              2
Date_of_Birth         18
Age                    5
Gender                 3
Blood_Type             2
Admission_Date        10
Discharge_Date        19
Diagnosis              0
Temperature            4
Blood_Pressure         3
Heart_Rate             2
Insurance_Provider    12
Bill_Amount            3
dtype: int64

======================================================================

In [46]:
# Display first few rows
print("\nFirst 10 rows:")
df.head(10)

First 10 rows:

,Patient_ID,First_Name,Last_Name,Date_of_Birth,Age,Gender,Blood_Type,Admission_Date,Discharge_Date,Diagnosis,Temperature,Blood_Pressure,Heart_Rate,Insurance_Provider,Bill_Amount
0,1001.0,John,Smith,NaN,45.0,Unknown,A +,2024/10/15,NaN,Flu,97.3F,151 / 88,78.0,NaN,$566
1,1002.0,Mary,johnson,1954-01-24,26.0,MALE,A+,2024-10-25,2024-11-03,Pneumonia,38.4,133/71,68.0,Cigna,5876.33
2,1003.0,james,WILLIAMS,1975-04-08,34.0,M,O-,2025-07-09,2025-07-18,COVID-19,36.5,96/76,78.0,BlueCross,7015.1
3,1004.0,SARAH,Brown,1957-12-04,34.0,Male,B+,2024-11-25,2024-12-05,COVID-19,37.8,151/67,88.0,BLUECROSS,7574.35
4,1005.0,Michael,Jones,2009-02-19,78.0,MALE,AB+,2024-12-19,2024-12-25,Migraine,38.0,98/85,91.0,UnitedHealth,965.92
5,1006.0,Robert,Garcia,1994-01-01,39.0,M,B+,2025-05-05,2025-05-18,Migraine,37.8,152/64,67.0,BLUECROSS,6260.86
6,1007.0,william,Miller,1951-04-08,51.0,MALE,A+,2025-03-13,2025-03-21,Anxiety,37.6,163/100,61.0,blue cross,5218.91
7,1008.0,Olivia,Davis,NaN,85.0,m,O+,2024-12-30,2025-01-09,Bronchitis,39.2,177/63,100.0,Cigna,9089.48
8,1009.0,David,NaN,2004-10-01,72.0,FEMALE,O-,2025-10-06,2025-10-01,Fracture,37.9,109/69,98.0,aetna,3218.84
9,1010.0,Sophia,Martinez,2011-04-23,45.0,m,A+,NaN,NaN,Bronchitis,37.0,162 / 120,75.0,United Health,8089.17

In [47]:
# ================================================================
# üéØ CLUES: Types of Bugs Hidden in the Dataset
# ================================================================
print("\nüïµÔ∏è DETECTIVE CLUES - Types of bugs you'll find:")
print("="*70)
print("""
1. üî¢ DUPLICATE DATA: Some patients appear more than once
2. ‚ùå MISSING VALUES: Multiple types (None, NaN, 'NA', 'N/A', empty strings)
3. üî§ DATA TYPE ISSUES: Numbers stored as strings, dates as objects
4. üìÖ DATE FORMAT ISSUES: Inconsistent date formats across columns
5. üé® FORMATTING ISSUES: Extra whitespace, inconsistent capitalization
6. üö´ INVALID VALUES: Impossible ages, negative numbers where they shouldn't be
7. üå°Ô∏è MIXED UNITS: Temperature in different units (Celsius vs Fahrenheit)
8. ü©∏ TYPOS: Misspellings in categorical data
9. ‚öñÔ∏è INCONSISTENT NAMING: Same values written differently
10. üîÄ LOGICAL INCONSISTENCIES: Dates that don't make sense (discharge before admission)
11. üìä OUTLIERS: Values way outside normal ranges
12. üî¢ WRONG SEPARATORS: Data formatted incorrectly
13. üíµ CURRENCY SYMBOLS: Embedded in numeric data
14. üé≠ CATEGORICAL CHAOS: Same categories with different cases/formats
15. üîÑ INCONSISTENT NULLS: Different representations of missing data

Your challenge: Find and fix ALL of them!
""")
print("="*70)

üïµÔ∏è DETECTIVE CLUES - Types of bugs you'll find:
======================================================================

1. üî¢ DUPLICATE DATA: Some patients appear more than once
2. ‚ùå MISSING VALUES: Multiple types (None, NaN, 'NA', 'N/A', empty strings)
3. üî§ DATA TYPE ISSUES: Numbers stored as strings, dates as objects
4. üìÖ DATE FORMAT ISSUES: Inconsistent date formats across columns
5. üé® FORMATTING ISSUES: Extra whitespace, inconsistent capitalization
6. üö´ INVALID VALUES: Impossible ages, negative numbers where they shouldn't be
7. üå°Ô∏è MIXED UNITS: Temperature in different units (Celsius vs Fahrenheit)
8. ü©∏ TYPOS: Misspellings in categorical data
9. ‚öñÔ∏è INCONSISTENT NAMING: Same values written differently
10. üîÄ LOGICAL INCONSISTENCIES: Dates that don't make sense (discharge before admission)
11. üìä OUTLIERS: Values way outside normal ranges
12. üî¢ WRONG SEPARATORS: Data formatted incorrectly
13. üíµ CURRENCY SYMBOLS: Embedded in numeric data
14. üé≠ CATEGORICAL CHAOS: Same categories with different cases/formats
15. üîÑ INCONSISTENT NULLS: Different representations of missing data

Your challenge: Find and fix ALL of them!

======================================================================

In [48]:
# ================================================================
# STEP 3: START YOUR INVESTIGATION
# ================================================================

# Create a copy to work with (always keep original!)
df_clean = df.copy()

print("\nüßπ CLEANING PROCESS BEGINS!")
print("="*70)

üßπ CLEANING PROCESS BEGINS!
======================================================================

# BUG CATEGORY 1: DUPLICATE RECORDS

In [ ]:

print("\n1Ô∏è‚É£ Checking for duplicates...")

# --- find all duplicated Patient_IDs ---

# TODO: Check for duplicate Patient_IDs
# HINT: Use df_clean['Patient_ID'].duplicated()

print("Duplicate IDs:", df_clean["Patient_ID"].duplicated().sum())
duplicate_ids = df_clean[df_clean['Patient_ID'].duplicated(keep=False)]
print("Duplicate Patient IDs found:")
print(duplicate_ids[["Patient_ID", "First_Name", "Last_Name", "Date_of_Birth"]])

# TODO: Remove or handle duplicates
# HINT: Use drop_duplicates() or investigate why duplicates exist

"""
It seems the same ID was assigned to different persons, causing duplicate IDs. 
So removing duplicate IDs might actually remove unique entries.
We shall need to reasign IDs instead.
"""

# Let's first identify truly repeated persons (same name, same DOB)
true_dupes = df_clean[df_clean.duplicated(subset=["Patient_ID", "First_Name", "Last_Name", "Date_of_Birth"], keep=False)]
print("\nPossible true duplicates:")
print(f"Number of possible true duplicates =  {true_dupes.shape[0]}")

# Now we can see that much as the IDs show presence of duplicates, duplicates actually don't exist.
# Let's handle this;

# Convert Patient_ID to numeric just in case there are string values
df_clean["Patient_ID"] = pd.to_numeric(df_clean["Patient_ID"], errors="coerce")

# Show min, max, and count of valid (non-missing) IDs
min_id = df_clean["Patient_ID"].min(skipna=True)
max_id = df_clean["Patient_ID"].max(skipna=True)
num_ids = df_clean["Patient_ID"].notna().sum()

print(f"Existing Patient_ID range: {int(min_id)} -> {int(max_id)}")
print(f"Total valid Patient_IDs: {num_ids}")

# Optional: check how many are missing
missing_ids = df_clean["Patient_ID"].isna().sum()
print(f"Missing Patient_IDs: {missing_ids}")

"""
Now we can clearly see that the ID ranges from from 1001 - 1100
98 patients were assigned IDs
2 patients do not have IDs
"""

# Let's check how many values between 1001 - 1100 were not assigned, because we see that some patients were given the same IDs

# Get all existing (non-null) IDs
existing_ids = df_clean["Patient_ID"].dropna().astype(int)

# Define the full expected range
full_range = set(range(1001, 1101))  # 1101 is exclusive

# Find which IDs are not used
missing_from_range = sorted(list(full_range - set(existing_ids)))

print("Unused Patient_IDs available for assignment:")
print(missing_from_range)
print(f"Total missing IDs: {len(missing_from_range)}")

"""
From the results, we can see that 4 IDs (1011, 1026, 1051, 1076) were not assigned, clearly explaining why we have duplicate IDs
We can now go ahead and reassigned those IDs to patients with duplicate and missing IDs
"""
# Fix duplicate Patient_IDs
df_clean.loc[14, "Patient_ID"] = 1011  # Michael Jones
df_clean.loc[25, "Patient_ID"] = 1026  # Emma Garcia (with DOB 2008)

# Fix missing Patient_IDs
df_clean.loc[50, "Patient_ID"] = 1051  # John Smith (1981)
df_clean.loc[75, "Patient_ID"] = 1076  # Emma Garcia (1985)

"""
Now let's check for missing IDs again, if any
"""
print("Missing IDs:", df_clean["Patient_ID"].isna().sum())
print("Duplicate IDs:", df_clean["Patient_ID"].duplicated().sum())

"""
Wooow! Now our data has no missing and duplicated IDs
We can now proceed to the next check.
"""
print("‚úì Duplicate check complete")

1Ô∏è‚É£ Checking for duplicates...
Duplicate IDs: 3
Duplicate Patient IDs found:
    Patient_ID First_Name Last_Name Date_of_Birth
10      1015.0       John     Smith    2009-07-08
14      1015.0  Michael       Jones           NaN
25      1015.0       Emma    Garcia    2008-02-13
50         NaN       John     Smith    1981-01-08
75         NaN       Emma    Garcia    1985/05/20

Possible true duplicates:
Number of possible true duplicates =  0
Existing Patient_ID range: 1001 -> 1100
Total valid Patient_IDs: 98
Missing Patient_IDs: 2
Unused Patient_IDs available for assignment:
[1011, 1026, 1051, 1076]
Total missing IDs: 4
Missing IDs: 0
Duplicate IDs: 0
‚úì Duplicate check complete

In [ ]:
# ----------------------------------------------------------------
# BUG CATEGORY 2: MISSING VALUES - STANDARDIZE
# ----------------------------------------------------------------
print("\n2Ô∏è‚É£ Standardizing missing values...")

# TODO: Replace all variations of missing values with proper NaN
# HINT: Look for 'NA', 'N/A', empty strings '', and convert to np.nan
# HINT: Use replace() method

"""
Let's define all possible variants of missing values
"""
missing_variants = ['NA', 'N/A', '', 'na', 'null']

# Let's now replace all those possible variants with the uniform np.nan across the whole DataFrame
df_clean.replace(missing_variants, np.nan, inplace = True)
df_clean


print("‚úì Missing values standardized")

2Ô∏è‚É£ Standardizing missing values...
‚úì Missing values standardized

In [56]:
# ----------------------------------------------------------------
# BUG CATEGORY 3: WHITESPACE ISSUES
# ----------------------------------------------------------------
print("\n3Ô∏è‚É£ Cleaning whitespace...")

# TODO: Remove leading/trailing whitespace from text columns
# HINT: Use .str.strip() on string columns

"""
Since white space only exist within string data and not numeric, let's apply these changes to only columns that have string data
"""
# Identify object (text/string) columns
text_cols = df_clean.select_dtypes(include="object").columns

# Strip whitespace from each
for col in text_cols:
    df_clean[col] = df_clean[col].str.strip()

print("‚úì Whitespace cleaned")

3Ô∏è‚É£ Cleaning whitespace...
‚úì Whitespace cleaned

In [ ]:
# ----------------------------------------------------------------
# BUG CATEGORY 4: CASE CONSISTENCY
# ----------------------------------------------------------------
print("\n4Ô∏è‚É£ Fixing case inconsistencies...")

# TODO: Standardize capitalization in First_Name, Last_Name, Gender, etc.
# HINT: Use .str.title(), .str.upper(), or .str.lower() as appropriate


print("‚úì Case consistency applied")

In [ ]:
# ----------------------------------------------------------------
# BUG CATEGORY 5: DATE FORMAT ISSUES
# ----------------------------------------------------------------
print("\n5Ô∏è‚É£ Converting date columns...")

# TODO: Convert Date_of_Birth, Admission_Date, Discharge_Date to proper datetime
# HINT: Use pd.to_datetime() with errors='coerce'


print("‚úì Dates converted")

In [ ]:
# ----------------------------------------------------------------
# BUG CATEGORY 6: DATA TYPE CONVERSIONS
# ----------------------------------------------------------------
print("\n6Ô∏è‚É£ Fixing data types...")

# TODO: Convert Age, Heart_Rate to integers (handle strings first)
# HINT: First convert strings to numeric, then to int


# TODO: Convert Bill_Amount to float (remove $ symbols first)
# HINT: Use .str.replace() to remove $ then convert to float


print("‚úì Data types corrected")

In [ ]:
# ----------------------------------------------------------------
# BUG CATEGORY 7: INVALID VALUES
# ----------------------------------------------------------------
print("\n7Ô∏è‚É£ Handling invalid values...")

# TODO: Fix negative ages, impossible ages (>120), negative bill amounts
# HINT: Use conditional replacement or set to NaN


# TODO: Fix heart rates outside normal range (30-200)


# TODO: Fix impossible temperatures (>42¬∞C or <30¬∞C)


print("‚úì Invalid values handled")

In [ ]:
# ----------------------------------------------------------------
# BUG CATEGORY 8: BLOOD TYPE ISSUES
# ----------------------------------------------------------------
print("\n8Ô∏è‚É£ Cleaning Blood Types...")

# TODO: Fix '0+' to 'O+', remove extra spaces, handle invalid blood types
# HINT: Use .replace() or .str.replace()


print("‚úì Blood types cleaned")

In [ ]:
# ----------------------------------------------------------------
# BUG CATEGORY 9: TEMPERATURE UNITS
# ----------------------------------------------------------------
print("\n9Ô∏è‚É£ Standardizing temperature units...")

# TODO: Convert all temperatures to Celsius (remove 'F', convert if needed)
# HINT: Check for 'F' in string, use formula: (F - 32) * 5/9


print("‚úì Temperatures standardized")

In [ ]:
# ----------------------------------------------------------------
# BUG CATEGORY 10: BLOOD PRESSURE FORMAT
# ----------------------------------------------------------------
print("\nüîü Standardizing blood pressure format...")

# TODO: Make all blood pressure values use '/' separator
# HINT: Replace ' / ' and '-' with '/'


print("‚úì Blood pressure standardized")

In [ ]:
# ----------------------------------------------------------------
# BUG CATEGORY 11: INSURANCE PROVIDER CONSISTENCY
# ----------------------------------------------------------------
print("\n1Ô∏è‚É£1Ô∏è‚É£ Standardizing insurance providers...")

# TODO: Make all provider names consistent (e.g., all 'BlueCross' or all 'Aetna')
# HINT: Use .str.lower() then .str.title() or create a mapping


print("‚úì Insurance providers standardized")

In [ ]:
# ----------------------------------------------------------------
# BUG CATEGORY 12: DIAGNOSIS CLEANUP
# ----------------------------------------------------------------
print("\n1Ô∏è‚É£2Ô∏è‚É£ Cleaning diagnosis field...")

# TODO: Strip whitespace, fix typos (e.g., 'Diabetis' -> 'Diabetes')
# HINT: Use .str.strip() and .replace()


print("‚úì Diagnosis cleaned")

In [ ]:
# ----------------------------------------------------------------
# BUG CATEGORY 13: LOGICAL INCONSISTENCIES
# ----------------------------------------------------------------
print("\n1Ô∏è‚É£3Ô∏è‚É£ Checking logical consistency...")

# TODO: Ensure Discharge_Date is after Admission_Date
# HINT: Compare the two date columns


# TODO: Calculate proper age from Date_of_Birth


print("‚úì Logical consistency checked")

In [ ]:
# ================================================================
# STEP 4: FINAL VALIDATION
# ================================================================

print("\n" + "="*70)
print("üèÅ CLEANING COMPLETE - FINAL VALIDATION")
print("="*70)

# Check missing values after cleaning
print("\n‚ùì Missing Values After Cleaning:")
print(df_clean.isnull().sum())

# Check data types
print("\nüìä Data Types After Cleaning:")
print(df_clean.dtypes)

# Display sample of cleaned data
print("\n‚ú® Sample of Cleaned Data:")
print(df_clean.head(10))

In [ ]:
# ================================================================
# STEP 5: BASIC ANALYSIS (Prove your cleaning worked!)
# ================================================================

print("\n" + "="*70)
print("üìä BASIC ANALYSIS ON CLEANED DATA")
print("="*70)

# TODO: Calculate and display:
# 1. Average age of patients
# 2. Most common diagnosis
# 3. Average bill amount
# 4. Gender distribution
# 5. Most common blood type

In [ ]:
# ================================================================
# STEP 6: SAVE YOUR CLEANED DATA
# ================================================================

# TODO: Save the cleaned dataset
# df_clean.to_csv('cleaned_patient_records.csv', index=False)
# print("\n‚úÖ Cleaned data saved to 'cleaned_patient_records.csv'")

print("\n" + "="*70)
print("üéâ CHALLENGE COMPLETE!")
print("="*70)
print("\nSubmit your notebook to instructor for scoring.")
print("Remember to document what bugs you found and how you fixed them!")